<div fxLayout="column" fxLayoutGap="32px" fxLayoutAlign="center center">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-center" class="searchBar">
    <div fxFlex="0 0 100">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autohitplete="off"
        placeholder="Start searching for a article by title and dates " (click)=" get_articles()">
    </div>
  </div>
  <table class="mainTable">
    <tbody>
      <tr *ngFor="let article of articlesCollection | filter:searchText | paginate: config">
        <td>{{article.created_at}}</td>
        <td>{{article.title}}</td>
        <td>{{article.url}}</td>
        <td>{{article.author}}</td>
        <td>{{article.points}}</td>
        <td>{{article.nm_comments}}</td>
        <td>{{article.created_at_i}}</td>
        <td>{{article.relevancy_score}}</td>
      </tr>
    </tbody>
  </table>
  <div class="paginator" fxLayoutAlign="center center">
    <pagination-controls class="center_text" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide"
      [responsive]="responsive" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
      [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
      [screenReaderPageLabel]="labels.screenReaderPageLabel"
      [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="onPageChange($event)">
    </pagination-controls>
  </div>
</div>
